.frame{
    width: 400px;
    height: 400px;
    margin: auto;
    margin-top: 100px;
    box-shadow: 1px 2px 10px 0px rgba(0,0,0,0.3);
    color: #3F3F3F;
    position: relative;
}
.map{
    background: #2196F3;  
    svg {
		fill: #1F8DE4;
      
	}
   
  
}
.shape{
    position: absolute;
    top: 150px;
    left: 180px;
    svg {
    fill:#ffcc30;
    animation: moveUpDown 4s infinite alternate; 
    }
}
@keyframes moveUpDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px); 
    }
}
.shadow{
    width: 20px;
    height: 4px;
    border-radius: 50%;
    background: #1B7AC7;
    margin: 10px 0px 0 12px;
}